.header
  .header__container
    .header__container__left-box
      割烹よこい
    .header__container__right-box
      .header__container__right-box__btn
        <i class="fas fa-layer-group"></i>
        .header__container__right-box__btn__box
          .header__container__right-box__btn__box__menu
            =link_to 'sushi',"#"
          .header__container__right-box__btn__box__menu
            =link_to '夜のコース','#'
          .header__container__right-box__btn__box__menu
            =link_to '一品料理','#'
.body
.footer
  .footer__phone
    お電話番号073-473-1010