.header
  .header__container
    .header__container__left-box
      割烹よこい
    .header__container__right-box
      %i.fas.fa-layer-group
      .header__container__right-box__btn
        .header__container__right-box__btn__box
          .header__container__right-box__btn__box__close
            %i.fa.fa-window-close.close-btn
          .header__container__right-box__btn__box__menu
            =link_to '昼定食',"lunchs/index"
          .header__container__right-box__btn__box__menu
            =link_to '夜のコース','#'
          .header__container__right-box__btn__box__menu
            =link_to '一品料理','#'
.body
.footer
  .footer__phone
    お電話番号073-473-1010